<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWNDfBnlG4Lhbd0qJjK6S44_-roVf5xsA</string>
	<key>GCM_SENDER_ID</key>
	<string>344583193513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.pollexa</string>
	<key>PROJECT_ID</key>
	<string>pollexa-46eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>pollexa-46eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344583193513:ios:f96b800d881837327fbab8</string>
	<key>DATABASE_URL</key>
	<string>https://pollexa-46eaf-default-rtdb.firebaseio.com</string>
</dict>
</plist>